html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

form {
    border: 1px solid #ccc;
    padding: 1rem;
    width: 500px;
    float: left;
    width: 70%;
}

input,
textarea {
    display: block;
    width: 100%;
    margin-bottom: 1rem;
}

form button {
    display: block;
    padding: 0.5rem 1rem;
    background: hsl(120, 56%, 40%);
    border: none;
    color: #fff;
    border-radius: 5px;
    width: 5rem;
    margin-left: auto;
}

header {
    background-color: teal;
    color: black;
    text-align: center;
    padding: 1rem;
    margin-bottom: 1rem;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-top: -200px;
    background-color: teal;
    color: white;
    text-align: center;
    margin-top: 1rem;
}

img {
    width: 180px;
    height: 131px;
    float: left;
    padding-right: 1rem;
}

a {
    color:teal;
    text-decoration: none;
}

ul {
    list-style-type: none;
    text-align: right;
    padding: 1rem;
    margin: 0px;
    }

nav {
    margin-top: -28px;
    padding-right: 1rem;
    margin-bottom: 100%;
    float: left;
}

li {
    padding-top: 1rem;
    font-style: bold;

}

h2 {
    padding-top: 10px;
}

@media screen and (max-width : 600px) {
    ul {
        display: flex;
        padding: 10px;
        position: relative;
    }
    nav {
        float: none;
        margin: 0;
    }

    li {
        display: inline-block;
        padding-top: 0;
        padding-left: 25px;
        padding-right: 10px;
    }

    li:first-child {
        border-right: 1px solid;
        border-color: lightgrey;
        padding-left: 0;

    }
    li:last-child {
        border-left: 1px solid;
        border-color: lightgrey;
    }
}


